<%- include('partial/_head') %>
<body>
<%- include('partial/_header') %>
<main class="l-main o-main">
    <section class="container my-5">
        <h2><%= parameters.title %><small class="ml-2" id="hello"></small></h2>
        <p><%= parameters.description %></p>
    </section>
</main>
<%- include('partial/_footer') %>
<%- include('partial/_js_loader') %>
</body>
</html>